@font-face {
    font-family: "PoppinsBold";
    font-weight: 700;
    src: url("#{$web-font-path}Poppins-Bold.ttf") format("ttf");
    font-display: swap;
}

@font-face {
    font-family: "PoppinsRegular";
    font-weight: 400;
    src: url("#{$web-font-path}Poppins-Regular.ttf") format("ttf");
    font-display: swap;
}

@font-face {
    font-family: "PoppinsThin";
    font-weight: 100;
    src: url("#{$web-font-path}Poppins-Thin.ttf") format("ttf");
    font-display: swap;
}

@font-face {
    font-family: "PoppinsExtraLight";
    font-weight: 300;
    src: url("#{$web-font-path}Poppins-ExtraLight.ttf") format("ttf");
    font-display: swap;
}

@font-face {
    font-family: "PoppinsMedium";
    font-weight: 500;
    src: url("#{$web-font-path}Poppins-Mediunm.ttf") format("ttf");
    font-display: swap;
}